.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

li {
  list-style-type: none;
}

#click_menu {
  transition: transform 0.3s ease-in-out;
}

#click_menu.rotate {
  transform: rotate(180deg);
}

header {
  width: 100%;
}
header .header__top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: black;
}
header .header__top .btn__click-menu {
  transition: transform 0.3s ease-in-out;
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
header .header__top .btn__click-menu .btn-text {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
header .header__top .btn__click-menu::after,
header .header__top .btn__click-menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}
header .header__top .btn__click-menu::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}
header .header__top .btn__click-menu::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.0823529412);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}
header .header__top .btn__click-menu:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
header .header__top .btn__click-menu:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
header .header__top .btn__click-menu:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
header .header__main {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  background: linear-gradient(300deg, rgba(81, 82, 81, 0.5) 10%, rgba(50, 92, 141, 0.5) 50%, rgba(36, 43, 51, 0.5) 80%), url("/images/tree.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 10vw;
  padding-bottom: 3rem;
}
header .header__main nav {
  display: flex;
  width: 100%;
}
header .header__main nav img {
  margin-right: 10%;
  border-radius: 100px;
  margin-top: 3vw;
  transition: all 1s;
}
header .header__main nav img:hover {
  transform: rotate(1080deg);
}
header .header__main nav ul {
  margin-top: 3vw;
  margin-left: 5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
  gap: 20%;
}
header .header__main nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  background-color: white;
  padding: 1vw;
  border-radius: 10vw;
  transition: 2s all;
}
header .header__main nav ul li:hover {
  color: white;
  background-color: black;
}

main .parallax {
  background-image: url(https://th.bing.com/th/id/R.06927f154ea6327d56b4a12f6a258bd6?rik=HLyknq7W4ZKFbA&pid=ImgRaw&r=0);
  height: 100vw;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .content-section {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
  background: url(https://cdn.pixabay.com/photo/2019/04/26/20/18/geese-4158565_1280.jpg);
  background-size: cover;
  background-position: center;
}
main .content-section .content .content-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
  font-size: 36px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 4px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 3rem;
}
main .content-section .content .content-title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}
main .content-section .content .content-title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}
main .content-section .content .content-title span:nth-of-type(1)::before,
main .content-section .content .content-title span:nth-of-type(1)::after {
  animation-delay: 1s;
}
main .content-section .content .content-title span:nth-of-type(2)::before,
main .content-section .content .content-title span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}
@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
main .content-section .content p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid #ff0080;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
main .content-section .content img {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 3rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #ff0080;
}
main .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff8c00, #ff0080);
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 5%;
}
main .title-container .title-text {
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}
main .title-container .title-text .title_section {
  font-size: 32px;
  color: #222;
  margin-bottom: 10px;
}
main .title-container .title-text .headline_title {
  font-size: 24px;
  color: #444;
  margin-bottom: 15px;
}
main .title-container .title-text .text_p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}
main .title-container .title-text .btn_text-open {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #ff0080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
main .title-container .title-text .btn_text-open:hover {
  background: #d6006e;
}
main .title-container .title-text .open_text {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
main .list-obj {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  padding: 20px;
}
main .list-obj .object-list {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}
main .list-obj .object-list .list-objects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main .list-obj .object-list .list-objects ul li .button-obj {
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background: #e0e0e0;
  transition: all 0.3s ease-in-out;
  background: #ff5722;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main .list-obj .object-list .list-objects ul li p {
  display: none;
}
main .card-information {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: url(https://www.hdwallpapers.in/download/bird_goose_on_water_4k_hd_birds-1366x768.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
}
main .card-information .card-information-container {
  padding-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  padding: 0 1rem;
  z-index: 1;
}
main .card-information .card-information-container .card {
  width: 20rem;
  background: #1c1c1c;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
main .card-information .card-information-container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main .card-information .card-information-container .card img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  transition: opacity 0.3s ease;
}
main .card-information .card-information-container .card:hover img {
  opacity: 0.8;
}
main .card-information .card-information-container .card h3 {
  margin: 0.7rem 0;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
main .card-information .card-information-container .card p {
  font-size: 1.2rem;
  color: #808080;
  margin-bottom: 1.5rem;
}
main .card-information .card-information-container .card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
main .card-information .card-information-container .card button:hover {
  background: #0056b3;
  transform: scale(1.05);
}
main .section-features {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #1c1c1c;
}
main .section-features .header {
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}
main .section-features .features {
  margin-top: 4rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
main .section-features .features .first-card {
  background-color: #333;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s easy;
}
main .section-features .features .first-card:hover {
  background-color: #333;
  border-color: white;
}
main .section-features .features .first-card span {
  display: inline-block;
  padding: 2px 9px;
  background-color: #007bff;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  border-radius: 5px;
}
main .section-features .features .first-card h4 {
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
main .section-features .features .first-card p {
  color: #808080;
  margin-bottom: 1rem;
}
main .section-features .features .first-card a {
  color: white;
  transition: all 0.3s ease;
}
main .section-features .features .first-card a:hover {
  color: #007bff;
}
main .clicker-goose {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffebcd, #ffcc80);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 5vw;
  padding-top: 5vw;
}
main .clicker-goose .clicker-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
main .clicker-goose .clicker-container h3 {
  font-size: 24px;
  color: #444;
}
main .clicker-goose .clicker-container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}
main .clicker-goose .clicker-container img {
  width: 50vw;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, object-position 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, object-position 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, -o-object-position 0.3s ease;
  -o-object-position: top;
     object-position: top;
}
main .clicker-goose .clicker-container img:hover {
  -o-object-position: center;
     object-position: center;
  transform: scale(1.05);
  border-radius: 3vw;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
main .clicker-goose .clicker-container button {
  padding: 1vw 2vw;
  font-size: 16px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  width: 30vw;
  margin-top: 2vw;
  transition: background 0.3s ease;
}
main .clicker-goose .clicker-container button:hover {
  background: #e68900;
}

footer {
  font-family: monospace;
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
}
footer article {
  padding-top: 2vw;
  align-items: center;
}
footer article h3 {
  font-size: 5vw;
  color: white;
}
footer article p {
  font-size: 2.5vw;
  color: #808080;
}
footer .footer-links {
  margin-top: 2vw;
  padding-bottom: 3vw;
}
footer .footer-links a {
  font-size: 5vw;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
footer .footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header .header__top {
    height: 80px;
  }
  header .header__top .btn__click-menu {
    width: 80px;
    height: 25px;
    font-size: 14px;
    padding: 8px 16px;
  }
  header .header__main {
    display: none;
    height: 60vw;
    padding-bottom: 2rem;
  }
  header .header__main nav {
    flex-direction: column;
    align-items: center;
  }
  header .header__main nav img {
    margin-right: 0;
    margin-top: 10px;
  }
  header .header__main nav ul {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
    width: 90vw;
  }
  header .header__main nav ul li {
    font-size: 1.5rem;
    padding: 20px;
    width: 80vw;
    text-align: center;
  }
}
@media (max-width: 426px) {
  header .header__main {
    height: 65%;
  }
  header .header__main nav ul li {
    font-size: 4vw;
    padding: 1vw;
  }
}/*# sourceMappingURL=style.css.map */